:root
{
    --clr-text: #ccc;
    --clr-surface: #1e1e2a;
    --clr-sec-surface: #2cbac6;
    --clr-primary: #2cbac6;
    --clr-secondary: #fe2c49;
    --clr-accent: #c3e602;
}

*, *::before, *::after
{
    box-sizing: border-box;
}

html, body,
h1, h2, h3,
header, footer, main
{
    margin: 0;
}

:target
{
    scroll-margin-block: 2rem;
}

body
{
    min-height: 100vh;
    font: 1rem/calc(1em + 0.5rem) system-ui;
    color: var(--clr-text);
    background:
        var(--clr-surface);

}

h1
{
    content: url(../img/logo_baja.png);
    max-width: 30vw;
}

h1, h2, h3, h4
{
    color: var(--clr-accent);
}

main
{
    width: min(100% - 3rem, var(--wid-wrapper, 70ch));
    margin-inline: auto;
}

main section > * + *{
    margin-block-start: 1rem;
}

a
{
    color: var(--clr-primary);
}

a:hover, a:focus
{
    color: var(--clr-secondary);
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 2rem;
}

header .social
{
    width: 100%;
    order: -1;
    text-align: right;
}