@font-face {
    font-family: 'Carnivalee Freakshow';
    src: url('CarnivaleeFreakshow.woff2') format('woff2'),
        url('CarnivaleeFreakshow.woff') format('woff'),
        url('CarnivaleeFreakshow.ttf') format('truetype'),
        url('CarnivaleeFreakshow.svg#CarnivaleeFreakshow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

